<div class="container" id="index">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="jumbotron">
        <h2>      
          <button id="ibutton" type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal"> 
            <i class="fa fa-question"></i>
          </button>
        </h2>
    </div>
      <a href=/new data-toggle="tooltip" title="Create new idea to help others build eco-friendly lives" class="btn btn-success btn-md center-block">Submit Idea!</a>



  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">A Global Collection of Eco-Friendly Ideas</h4>
        </div>
        <div class="modal-body">
          <p> This page displays action ideas, submitted by people from all over the world. <b>Clicking on an idea's name</b> will allow you view specific details about that idea, such as its description, and allow you to comment on the idea. <br><br> You can also <b>filter</b> ideas by their category to match contexts' you're interested in and sort by popularity, to see what everyone else is interested in. <br><br> Ideas carry <b>tags</b>, and you can enter a tag to search for to find ideas tailored to your interests. <br><br> Finally, registered users can <b>vote</b> on an action idea, increasing it's chances of being modeled by researchers to determine it's environmental impact. Show your support or interest in an idea by clicking on it and voting for it! </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Got it!</button>
        </div>
      </div>
    </div>
  </div>
  <br>


  <!-- filters -->

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3">
            <div class="left-sidebar">
              <h2>Filters</h2>
              <div class="panel-group category-products" id="accordian"><!--filters nav-->

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordian">
                        Sort By
                      </a>
                    </h4>
                  </div>
                  <div id="sort" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <ul>
                        <li><a href="/index">Recent</a></li>
                        <li><a href="/index_popular">Popular</a></li>
                        <li><a href="/index_oldest">Oldest</a></li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordian">
                        Categories 
                      </a>
                    </h4>
                  </div>
                  <div id="filter" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <ul>
                        <li><a href="/index_home">Home</a></li>
                        <li><a href="/index_work">Work</a></li>
                        <li><a href="/index_community">Community</a></li>
                        <li><a href="/index_mobility">Mobility</a></li>
                        <li><a href="/index_food">Food</a></li>
                        <li><a href="/index_clothing">Clothing</a></li>
                        <li><a href="/index_other">Other</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a href="/index">View All</a></h4>
                  </div>
                </div>
               
              </div><!--/filters nav-->

  </div> <!-- Container -->
</div> <!-- Offset -->