<br><br>
    <!-- Page Content -->
    <div class="container" id="second">


        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Handprinter Privacy Policy 
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active">Privacy Policy</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

					<p> We strive to be as clear as possible about how we use your data. When you sign up for an account, the e-mail, name and IP Address you used to register with are recorded. Unless required by law, your information will not be shared with third parties. The details of our privacy policy are outlined below. </p>

				<h3> Information Collection and Usage </h3>
					<p> When users register for an account, we ask for an e-mail address and the user's name. In addition, the IP Address used to register for an account is recorded to help improve the content of our Web pages and service by offering the capability to tailor content to your geographic area. </p> 

					<p> The personal information we collect is not shared with or sold to other organizations. </p> 

					<p> Your personal information stored on this website may be shared with your explicit permission or under the following circumstances: </p> 
						<ul>
							<li> It becomes necessary to share your information in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of the Terms of Service, or as otherwise required by law. </li> 
							<br>
							<li> Any additional information provided via e-mail, external communications, and/or surveys will not be shared with third parties without your consent unless stated otherwise within the communication or survey. </li>
						</ul>

					<p> Content submitted by any user, such as action ideas and comments, may be shared without your permission. This information is publicly accessible and may be analyzed by researchers for academic purposes or to assess the impact of an idea or suggestion. You still maintain the right to delete your ideas and comments, but there is no guarantee that your content was not or will be reproduced.</p> 
						

				<h3> Cookies </h3>
					<p> Cookies are only used to manage session information (to keep you logged in). The cookie itself only has an ID associated with the session, and the session data itself is securely stored on our servers.</p> 

				<h3> Data Storage </h3>
					<p> The Handprinter Organization uses third-party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run this application. By using this service, you consent to the transfer and storage of any information provided to this application to our infrastructure.</p> 

				<h3> Changes </h3>
					<p>Users will be notified of any changes to this privacy policy either through the application or a notice to the e-mail address associated with the user account.</p> 

				<h3> Email </h3>
					<p>Users may be emailed by administrators upon major application updates, security issues, account management issues, terms of service updates, and/or privacy policy updates. You will never be e-mailed for advertisement or news purposes.</p> 

				<h3> Questions </h3>
					<p> Any questions about this Privacy Policy should be sent to <b>actions@handprinter.org</b> or you can contact us <a href=/contact>here.</a></p> 
				<br><br>
	</div>
	