<br><br>
    <!-- Page Content -->
    <div class="container" id="second">


        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Terms of Service
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active">Terms of Service</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
					<p>By using the Handprinter Generator web site ("Service"), or any services of the Handprinter organization ("Handprinter"), you are agreeing to be bound by the following terms and conditions ("Terms of Service"). IF YOU ARE ENTERING INTO THIS AGREEMENT ON BEHALF OF A COMPANY OR OTHER LEGAL ENTITY, YOU REPRESENT THAT YOU HAVE THE AUTHORITY TO BIND SUCH ENTITY, ITS AFFILIATES AND ALL USERS WHO ACCESS OUR SERVICES THROUGH YOUR ACCOUNT TO THESE TERMS AND CONDITIONS, IN WHICH CASE THE TERMS "YOU" OR "YOUR" SHALL REFER TO SUCH ENTITY, ITS AFFILIATES AND USERS ASSOCIATED WITH IT. IF YOU DO NOT HAVE SUCH AUTHORITY, OR IF YOU DO NOT AGREE WITH THESE TERMS AND CONDITIONS, YOU MUST NOT ACCEPT THIS AGREEMENT AND MAY NOT USE THE SERVICES.</p> 

					<p>Any changes to these terms will be announced through an in-application announcement or via e-mail to registered users. New features and services for this application are subject to the Terms of Service.</p>

					<p>Violation of the terms below may result in the suspension or termination of your Account. While the content prohibited per these terms may not be condoned, moderation cannot be responsible for the Content posted on the Service and you nonetheless may be exposed to such materials. You agree to use the Service at your own risk.</p>

				<h3> Account Terms </h3>
					<ul>
						<li>You must be 13 years or older to use this Service.</li> 
						<br>
						<li>You must be human. Accounts registered through automated methods, such as “bots”, are not permitted.</li> 
						<br>
						<li>You must provide the requested information presented at registration to have an account.</li> 
						<br>
						<li>You are responsible for maintaining the security of your account and password. This Service is not liable for any loss or damage from your failure to comply with this security obligation, despite our best efforts to keep your login information secured using industry-standard methods. </li> 
						<br>
						<li>You are responsible for all Content posted and activity that occurs under your account.</li> 
						<br>
						<li>You may not use the Service for any illegal or unauthorized purpose. You must not, in the use of this Service, violate any laws in your jurisdiction (including but not limited to copyright or trademark laws).</li> 
						<br>
						<li>You agree that administators can email you to inform you of updates to these terms of the privacy policy, along with other major Service updates.</li> 
						<br>
					</ul>

				<h3>Community Guidelines </h3>
					<p> You agree, through your use of this Service, that you will not use this Service to post any material which is knowingly false and/or defamatory, inaccurate, abusive, vulgar, hateful, harassing, obscene, profane, sexually oriented, threatening, invasive of a person's privacy, or otherwise in violation of any law.</p>
						
					<p> Pornography, racist, sexist, discriminatory, prejudice, and illegal content are not allowed on this Service. Violators will have their accounts terminated.</p>

					<p> We aim to provide an inclusive and collaborative community where ideas can be shared and discussed openly. We ask all users to treat each other with respect. Moderators and Administrations may issue warnings via e-mail or any other disciplinary actions deemed necessary for content posted. Appeals to moderator decisions can be submitted via the Contact Us page.</p>

				<h3>Copyright and Content Ownership </h3>
					<p>The idea behind the notion of Handprinter was to give everyone a voice in suggesting ways to show the world is better with us than without us. The content submitted to and provided by this Service is open to anyone who wishes to use it, be it for research or personal use. It is preferable to attribute any content to its owner. Users who submit ideas and comments hold no control about the usage of the aforementioned content unless protected by a valid trademark or copyright. The reason for this is to encourage a collaborative community where ideas can be discussed freely and analyzed by experts for the greater scientific good.</p>

				<h3>Account Termination </h3>
					<p>You are solely responsible for properly cancelling your account. An email using the contact information for the Service must be used to request cancellation. Upon cancellation, you will be unable to login. You may request via e-mail to have your account reactivated; however, the Service is not obligated to reactive any accounts.</p>

					<p> Content such as comments and action ideas will remain upon account termination; however, your user account will not be publicly accessible anymore.</p>

					<p>In its sole discretion, this Service has the right to suspend or terminate your account and refuse any and all current or future use of the Service, for any reason at any time.</p>

					<p> Terminiation requests, along with any questions or comments can be submited to <b>actions@handprinter.org</b>. You may also contact us <a href=/contact>here.</a></p>
	</div>