/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 * require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "models.scss";

/* General CSS (applies to multiple pages)
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  padding-top: 50px;
  padding-bottom: 0px;
  background: rgb(250, 250, 250);
  max-width: 1500px;
  margin: auto;

}

h2 {
  text-align: center;
}

/* container css */
#base{
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

#second{
  width: 90%;
  background-color: rgb(256,256,256);
}

/**/
h4 {
  word-wrap: break-word;
}

p {
  word-wrap: break-word;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */


.navbar-default,
.navbar-inverse {
  border: none;
  background: rgb(255, 255, 255);
  max-width: 1500px;
  margin: auto;
}

.nav.navbar-nav li {
    color: black;
    font-size: 1em;
}

/* changes hover color to brand color*/
.navbar-default .navbar-nav > li:hover, .navbar-default .navbar-nav > li:focus {
    background-color: rgb(200, 200, 200);
    color: rgb(47, 167, 142);
}

 .navigation li {
  float: left;
  margin: 0; 
  padding: 20px 30px; 
}

   .navigation li.active {
    background: rgba(53, 154, 136, 1); 
    color: #fff;
}