// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* General CSS (applies to multiple pages)
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  padding-top: 50px;
  padding-bottom: 0px;
  background: rgb(250, 250, 250);
  max-width: 1500px;
  margin: auto;

}

h2 {
  text-align: center;
}

/* container css */
#base{
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

#second{
  width: 90%;
  background-color: rgb(256,256,256);
}

/**/

#indicates { /* For required fields text on forms */
  color: red;
}

#messages { /* For dynamic messages across all pages */
  color: blue;
}

#registrationHead { /* Color for title on new user page. It's lame, so remove if needed.*/
  color: #4E6172;
}

/* Sticky footer styles
-------------------------------------------------- */

.footer{
  padding: 0px 0;
  color: black;
  width: 100%;
  margin-top: 50px;
  background-color: white;
  position: relative;
}

.footer li a{
  color: black;

}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */


.navbar-default,
.navbar-inverse {
  border: none;
  background: rgb(255, 255, 255);
  max-width: 1500px;
  margin: auto;

}

.nav.navbar-nav li a {
    color: black;
    font-size: 1em;
}

/* changes hover color to brand color*/
.navbar-default .navbar-nav > li:hover, .navbar-default .navbar-nav > li:focus {
    background-color: rgb(200, 200, 200);
    color: rgb(47, 167, 142);
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  max-height: 500px;
  margin-bottom: 30px;
  background-color: black;
} 
/* this will give same color as brand image #98C748 */

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  color: white;
  text-shadow: black 0.4em 0.4em 0.4em;
  font-size: 1.5em;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  max-height: 500px;
  background-color: #777;
}

.carousel-inner > .item > img {
  top: 0;
  left: 0;
  min-width: 100%;
  max-height: 500px;
}

/* Home css */

.home .panel-body {
  /* background: #98C748; */
  background: white;
  color: black;
}


.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
    border-color: black;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}


p.copyright {
    margin: 15px 0 0;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
 

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/* css for the login page */


.login .container{
    margin: 10;
    padding:10;
    width: 90%;
}

/*
 * Card component
 */

 .card {
    background-color: white;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
}


.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}


.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn-primary {
    background: rgba(53, 154, 136, 1);
    color: white;
}
.btn.btn-signin {
    /*background-color: #4d90fe; 
    background-color: rgba(53, 154, 136, 1);
    background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}
4
.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}

/* css for the index of action ideas page */


.jumbotron {
  background: url(../img/banner-bg.jpg) center center;
  margin-bottom: 0px;
  height: 300px;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  border: black;
}

#index{
  background: white;
  width: 100%
}

.well{
    background: #259788;
    border-color: gray;
    color: black;
    font-size: 18px;
}
.form{
  float: center;
}
/* css for user profile page */


.user-details {
  position: relative; 
  padding: 0; 
  background-color: 
  rgb(232, 245, 211);
}

.user-details .user-image {
  width: 100%; 
  padding-top: 10px;
  text-align: center;
}

.user-image img {
 clear: both; 
 margin: auto;
 position: relative;
}

 .user-info-block .user-heading {
  width: 100%; 
  text-align: center; 
  margin: 10px 0 0;
  border: black;
}

.user-info-block .user-heading .help-block {
  color:black;
}
 .user-info-block .navigation {
  background-color: white; 
  float: left; 
  width: 100%; 
  margin: 0; 
  padding: 0; 
  list-style: none; 
  border-bottom: 2px solid rgba(53, 154, 136, 1); 
  border-top: 2px solid rgba(53, 154, 136, 1);
}

 .navigation li {
  float: left;
  margin: 0; 
  padding: 0;
}
  .navigation li a {
    padding: 20px 30px; 
    float: left;
}

   .navigation li.active a {
    background: rgba(53, 154, 136, 1); 
    color: #fff;
}

 .user-info-block .user-body {
  float: left; 
  padding: 5%; 
  width: 100%;
}

  .user-body .tab-content > div {
  float: left; 
  width: 100%;
}
  .user-body .tab-content h4 {
  width: 100%; 
  margin: 10px 0; 
  color: #333;
}

/* css for home panels */



/* css to make button look like link */

.tagLink {
  background-color: transparent;
  border: none;
  color: #3366BB;
  cursor: pointer;
  padding: 0px;
  margin-bottom: 10px;
}

.tagLink:hover {
  text-decoration: underline;
}

.tagLink:focus {
  outline: none;
}

input[type="submit"]:focus {
  outline: none !important;
}

#tagForm {
  display:inline;
  font-size: 0;
}

#tagForm  input {
    font-size: 14px;
}

/* index of action idea's sidebar css*/

.category-products {
  border: 1px solid #F7F7F0;
  margin-bottom: 5px;
  padding-bottom: 20px;
  padding-top: 5px;
  margin-left: 0px;
  padding-right: 0px;
}
.left-sidebar h2, .brands_products h2 {
  color: white;
  font-size: 1em;
  font-weight: 700;
  margin: 0 auto 30px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index:3;
}

.left-sidebar h2:after, h2.title:after{
  content: " ";
  position: absolute;
  border: 1px solid #259788;
  bottom:8px;
  left: 0;
  width: 100%;
  height: 0;
  z-index: -2;
}

.left-sidebar h2:before{
  content: " ";
  position: absolute;
  background: #87BD24;
  bottom: -6px;
  width: 130px;
  height: 30px;
  z-index: -1;
  left: 50%;
  margin-left: -65px;
}


.category-products .panel {
  background-color: #CFF294;
  border: 0px;
  border-radius: 0px;
  box-shadow:none;
  margin-bottom: 0px;
}

.category-products .panel-default .panel-heading .panel-title a {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.category-products .badge {
  background:none;
  border-radius: 15px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  min-width: 10px;
}

.panel-body ul{
  padding-left: 10px;
}


.panel-body ul li a {
  color: black;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}

/* css for text areas */
#id_description, #id_references, #id_text {
  width: 100%;
  height: 200px;

}

/* css for details page */
#details{
  background: rgb(232, 245, 211);
  width: 100%
}

#detail{
  width: 1500px;
  max-width: 100%;
}

/* terms of conditions */

.panel-default{
background-color: #CFF294;
}

/*left and right align*/

.leftalign {
  float: left;
}
.rightalign {
  float: right;
  text-align: right;
}

/* text wrapping so text does not going outside of box */

h4 {
  word-wrap: break-word;
}

p {
  word-wrap: break-word;
}

td {
  white-space: -o-pre-wrap; 
  word-wrap: break-word;
  white-space: -moz-pre-wrap; 
  white-space: -pre-wrap; 
  padding: 2px;

}

table { 
  table-layout: fixed;
  width: 100%
}


/** search bar width for ideas **/
input #search {
  width:200px;
  max-width: 100%;
}